#fw_painel { margin-top: 20px; padding: 5px; background: rgba( 50,56,63,0.9); border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -op-border-radius: 5px; color: #fff; overflow: hidden; z-index: 9999999 }
#fw_painel * { margin: 0; padding: 0; font-size: 12px; }

#fw_painel #fw_tabs { display: block; }
#fw_painel #fw_tabs li { display: inline }
#fw_painel #fw_tabs li a { display: inline-block; width: 80px; padding: 5px 10px; margin-left: 5px; outline: none; position: relative; background: #222229; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -op-border-radius: 5px; color: #fff; text-decoration: none }
#fw_painel #fw_tabs li:first-child a { margin-left: 0 }
#fw_painel #fw_tabs li a:hover { background: #555 }
#fw_painel #fw_tabs li a.active { background: #292 }
#fw_painel #fw_tabs a span.count { display: inline-block; padding: 0 7px; background: #900; border: 1px solid #f66; position: absolute; top: -3px; right: -3px; overflow: hidden; text-align: center; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px; -op-border-radius: 20px }
#fw_painel #fw_tabs a span.success { background: #292; border-color: #6f6 }
#fw_painel #fw_tabs a span.warning { background: #f62; border-color: #f92 }
#fw_painel #fw_tabs a span.count em { display: block; margin-left: -200px; float: left }

#fw_painel section { max-height: 450px; max-height: 50vh; overflow: auto }

#fw_painel table { width: 100%; border-collapse: collapse; color: #fff }
#fw_painel caption { margin: 10px 0; padding-bottom: 5px; border-bottom: 1px solid #fff; font-size: 14px; color: #fff; caption-side: top }
#fw_painel table thead tr:nth-child(2n+1) { background: rgba( 0,0,0,0.7) }
#fw_painel table tbody tr:nth-child(2n) { background: rgba( 0,0,0,0.4) }
#fw_painel table tr th { width: 250px; font-weight: bold }
#fw_painel table tr th,
#fw_painel table tr td { padding: 5px; text-align: left }

#fw_painel #fw_sqls table { min-width: 900px }
#fw_painel #fw_sqls table tr th:nth-child(1) { width: 5% }
#fw_painel #fw_sqls table tr th:nth-child(2) { width: 10% }
#fw_painel #fw_sqls table tr th:nth-child(3) { width: 85% }

#fw_painel #fw_errors table { min-width: 900px }
#fw_painel #fw_errors table tr th:nth-child(1) { width: 5% }
#fw_painel #fw_errors table tr th:nth-child(2) { width: 10% }
#fw_painel #fw_errors table tr th:nth-child(3) { width: 40% }
#fw_painel #fw_errors table tr th:nth-child(4) { width: 5% }
#fw_painel #fw_errors table tr th:nth-child(5) { width: 40% }