.checkboxlist { max-height: 250px; margin-bottom: 10px; background: #f7f7f7; border: 3px solid #f7f7f7;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
overflow: auto
}
.checkboxlist ul { margin: 0; padding: 0; list-style: none }
.checkboxlist ul li { padding: 0 0 0 25px }
.checkboxlist > ul > li { padding: 0 }
.checkboxlist ul li label { display: block; margin: 0; padding: 5px; border-bottom: 1px solid #eee; background: #fff; font-weight: normal;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.checkboxlist ul li label:hover { background: #eee }
.checkboxlist ul li input { margin: 0 10px 0 5px; }
.checkboxlist ul li em { color: #999 }