.treelist { max-height: 250px; margin-bottom: 10px; background: #f7f7f7; border: 3px solid #f7f7f7;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
overflow: auto
}
.treelist ul { margin: 0; padding: 0; list-style: none }
.treelist ul li { padding: 0 0 0 25px }
.treelist > ul > li { padding: 0 }
.treelist ul li label { display: block; margin: 0; padding: 5px; border-bottom: 1px solid #ddd; background: #fff; font-weight: normal;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.treelist ul li label:hover { background: #eee }
.treelist ul li input { margin: 0 10px 0 5px; }
.treelist ul li .treelist-leaf,
.treelist ul li .treelist-expander { display: inline-block; width: 15px; height:10px; margin: 0 3px; text-align: center }
.treelist ul li .treelist-header {
background: #f2f2f2;
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}