.input-required-label { color: #d9534f }




/**
 * 	Formatação da grid
 */
.grid_form { margin: 0; padding: 0px }
.grid_view { width: 100%; margin: 10px 0 0 0; border-collapse: collapse;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}
.grid_view thead th { padding: 10px 10px; text-align: left; background: #428BCA; border: 0 none !important; color: #fff }
.grid_view thead th a { color: #fff }
.grid_view thead th.grid_view_column_sort_asc { }
.grid_view thead th.grid_view_column_sort_desc { }
.grid_view thead th.grid_column_select { width: 5px }
.grid_view thead th.grid_column_actions { width: 120px; text-align: center }
.grid_view thead th #grid_select_all { margin: 0 }
.grid_view tbody { background: #fff }
.grid_view tbody tr:nth-child(even) { background: #f7f7f7 }
.grid_view tbody tr:hover { background: #eee }
.grid_view tbody tr th,
.grid_view tbody tr td { padding: 10px; border:0 }
.grid_view tbody tr th.grid_checkbox_delete { margin: 0; padding: 10px 5px; }
.grid_view tbody tr td.grid_column_actions { padding: 5px 10px; width: 120px; text-align: center }
.grid_search { float: right }
.pagination_stats_text { display: block; margin: 20px 0; padding: 6px 0; text-align: right }



/**
 * 	Formatação da janela modal
 */
.modal_window { display: none; position: fixed; z-index: 999999 }
.modal_window > div { padding: 10px; background: #fff; overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }
.modal_window_mask { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba( 0, 0, 0, 0.8); z-index: 999998 }
.modal_window_close{
	display: block;
	padding: 3px 10px;
	position: absolute;
	background: #f2f2f2;
	border: 2px solid #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	top: -15px;
	right: -15px;
	cursor: pointer;
}
.modal_window_close:hover { background: #333; color: #fff }
.modal_window_load { width: 200px; height: 200px; background: #fff url(../images/load_big.gif) no-repeat center center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; }